@font-face {
  font-family: 'ArvoRegular';
  src: url('/fonts/Arvo-Regular-webfont.eot');
  src: url('/fonts/Arvo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Arvo-Regular-webfont.woff') format('woff'),
       url('/fonts/Arvo-Regular-webfont.ttf') format('truetype'),
       url('/fonts/Arvo-Regular-webfont.svg#CopseRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArvoRegular';
  src: url('/fonts/Arvo-Bold-webfont.eot');
  src: url('/fonts/Arvo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Arvo-Bold-webfont.woff') format('woff'),
       url('/fonts/Arvo-Bold-webfont.ttf') format('truetype'),
       url('/fonts/Arvo-Bold-webfont.svg#ArvoRegular') format('svg');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'ArvoRegular', helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
  background-color: #fffd8b;
}

a:hover {
  color: #666;
}

#container {
  width: 760px;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  background-color: #eee;
  padding: 10px;
  font-size: 0.9em;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #333;
}

header div#current-time {
  float: right;
}

div#primary {
  text-align: center;
  margin-bottom: 40px;
}

h1, h2, h3 {
  padding: 0;
  margin: 20px 0;
}

h1 {
  font-size: 3em;
  color: #aaa;
  margin: 30px 0 20px;
  font-weight: normal;
}

h2 {
  text-transform: uppercase;
  font-size: 10em;
  line-height: 1em;
}

h3 {
  font-size: 2em;
}

div#secondary {
  border-top: 2px solid #eee;
  padding: 40px 0 20px;
}

div#hours {
  width: 360px;
  margin-right: 20px;
  float: left;
}

div#hours h4 {
  margin-top: 0;
  text-align: center;
}

div#hours ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div#hours ul li {
  clear: both;
}

div#hours ul li.shade {
  background-color: #f5f5f5;
  border-radius: 3px;
}

div#hours ul li span {
  display: block;
  padding: 10px;
  width: 160px;
}

div#hours ul li span.day {
  float: left;
  border-right: 1px dotted #ddd;
}

div#hours ul li span.time {
  margin-left: 180px;
  text-align: center;
}

div#map {
  margin-left: 400px;
  line-height: 1.6em;
}

div#map h4 {
  margin: 0;
}

footer {
  border-top: 2px solid #eee;
  padding-top: 0px;
  font-size: 0.9em;
  line-height: 1.8em;
  color: #aaa;
  text-align: center;
}

